{% extends 'global.html' %}

{% block body %}

<h3>Citas médicas reservadas</h3>
<div class="tablas table-responsive">
    <table class="table table-striped">
        <thead class="cabecera"> 
            <tr>
                <td>Fecha de solicitud</td>
                <td>Fecha de la cita</td>
                <td>Hora de la cita</td>
                <td>Médico solicitado</td>
                <td>Operaciones</td>
            </tr>
        </thead>
        <tbody>
            {% for appointment in MedicalAppointment %}
            <tr>
                <td>{{appointment.requestDate}}</td>
                <td>{{appointment.applicationDate}}</td>
                <td>{{appointment.applicationHour}}</td>
                <td>{{appointment.functionary_id}}</td>
                <td>
                    <a type="button" class="btn btn-dark" href="/editarcitamedica/{{appointment.id}}/{{patient.id}}">Editar</a>
                    <a type="button" class="btn btn-danger btn-delete" href="/eliminarcitamedica/{{appointment.id}}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}