<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>MiSalud</title>
</head>
<body class="p-3 mb-2 bg-info text-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">MiSalud</a>      
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Perfil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Citas médicas programadas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Historial de citas médicas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Inventario de medicamentos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <h3>Bienvenido a MiSalud {{functionary.name}} {{functionary.lastName}}</h3>
    <P style="font-size: 50px;">Interfaz grafica todavia no funcional</P>
</body>
</html>