{% extends 'global2.html' %}

{% block body %}

<h3>Medicamentos almacenados</h3>
<div class="tablas">
    <table class="table table-striped">
        <thead class="cabecera"> 
            <tr>
                <td>Código</td>
                <td>Nombre</td>
                <td>Proveedor</td>
                <td>Precio</td>
                <td>Cantidad total</td>
                <td>Operaciones</td>
            </tr>
        </thead>
        <tbody>
            {% for medicine in medicines %}
            <tr>
                <td>{{medicine.uniqueCode}}</td>
                <td>{{medicine.name}}</td>
                <td>{{medicine.supplier}}</td>
                <td>{{medicine.price}}</td>
                <td>{{medicine.quantity}}</td>
                <td>
                    <a type="button" class="btn btn-dark" href="/editarmedicamento/{{medicine.id}}/{{functionary.id}}">Editar</a>
                    <a type="button" class="btn btn-danger btn-delete" href="/eliminarmedicamento/{{medicine.id}}/{{functionary.id}}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}