<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registro medicamentos</title>
</head>

<body>
	<h3>Registro Medicamento</h3>
	<div id="contenedor">
		<form class="formulario" action="/guardar_editarmedicamento/{{medicine.id}}/{{functionary.id}}" method="POST">

			<div class="form-group">
				<input class="form-control" type="text" name="uniqueCode" placeholder="Código único" requerid="">
			</div>

			<div class="form-group">
				<input class="form-control" type="text" name="name" placeholder="Nombre medicamento" requerid="">
			</div>

			<div class="form-group">
				<input class="form-control" type="text" name="supplier" placeholder="Proveedor" requerid="">
			</div>

			<div class="form-group">
				<input class="form-control" type="text" name="price" placeholder="Precio unitario" requerid=""
					pattern="[0-9]+">
			</div>

			<div id="boton" class="form-group">
				<input class="btn btn-dark btn-update3" type="submit" value="Actualizar">
			</div>
		</form>
	</div>
</body>

</html>